@charset "utf-8";
@font-face {
  font-family: "KoPubBatang";
  src: url("../fonts/KoPub Batang Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "KoPubBatang";
  src: url("../fonts/KoPub Batang Medium.ttf") format("truetype");
  font-weight: 500; /* Bold */
  font-style: normal;
  font-display: swap;
}

* {
    box-sizing: border-box;
    word-break: keep-all;
}
body {background: #FCF6ED;}

header {
    position: fixed;   /* 항상 위에 고정 */
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    z-index: 100;      /* 영상보다 위에 */
    background: transparent; /* 배경 투명 → 영상 위에 겹침 */
    color: #fff;
    transition: transform 0.5s ease-in-out, 
                background 0.4s ease-in-out,
                opacity 0.4s ease-in-out;
    opacity: 1;
}
header.show {
  transform: translateY(0);
  opacity: 1;
}
header.hide {
  transform: translateY(-120%);
  opacity: 0;
}
header.colored {
  background: #BF0B34;
}
header .headerArea {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 30px 30px;
}
header .headerArea h1 {margin-right: 150px;}
.headerArea .headerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #fff;
    font-size: 14px;
}
.headerArea .headerMenu li {
    position: relative;
    padding-bottom: 5px;
}
.headerArea .headerMenu li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s ease;
}
.headerArea .headerMenu li:hover::after {
  width: 100%;
}
.headerArea .headerSns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 300px;
    height: auto;
}
.headerSns li:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #99092A;
    height: 40px;
    width: 130px;
    border-radius: 100px;
    color: #fff;
}
.headerSns li .right {
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerSns li .right img {
    width: 8px;
    height: 12px;
}
.headerSns li a {
    background: #F0D0A2;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerSns li img {
    width: 20px;
    height: 20px;
}
/* header */

#mainVisual {
    background: #fff;
    padding-bottom: 180px;
    border-radius: 50px;
}

/* 영상 영역 */
.main-video-wrap {
  position: relative;
  padding-top: 56.25%; /* 16:9 비율 */
  width: 100%;
  height: 0;
  overflow: hidden;
}

.main-video-wrap iframe {
  position: absolute;
  top: -60px;
  bottom: -60px;
  left: 0;
  width: 100%;
  height: calc(100% + 120px);
  pointer-events: none; /* 영상 클릭 방지 */
}
/* main */


.botWrap {
    position: relative;
    height: 100px;
    margin-bottom: 90px;
}
.botWrap a {
    width: 100px;
    height: 100px;
    background-color: #BF0B34;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -50%; left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}
.botWrap a img {
    width: 22px;
    height: 10px;
}
.botWrap::after {
    content: '';
    width: 270px;
    height: 85px;
    background: url(../img/smoothBg-wh.svg) no-repeat center/cover;
    position: absolute;
    left: 50%;
    bottom: calc(100% - 2px);
    transform: translateX(-50%);
    display: block;
}
/* botWrap */

.gongInner .innerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 80px;
}
.gongInner .innerTitle li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 60px;
  background: #F7EEDD;
  border-radius: 100px;
  font-size: 20px;
  transition: all 0.3s;
  cursor: pointer;
}
.gongInner .innerTitle li:hover {
    background: #BF0B34;
    color: #fff;
    font-weight: 700;
}
.gongInner .innerTitle li.active {
  background: #BF0B34;
  color: #fff;
  font-weight: 700;
}
.swiper {
  width: 100%;
  padding: 0 90px; /* 양옆에 슬라이드 일부 보이도록 */
  box-sizing: border-box;
  overflow: hidden;
}
.swiper-wrapper {
  display: flex;
}
.swiper-slide {
  width: auto; /* 슬라이드 고정 너비 */
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.menuSlide {
    position: relative;
}
.menuSlide .menuImg {
  width: 100%;
  max-width: 290px;
  margin-bottom: 25px;
  transition: transform 0.3s ease;
  transform-origin: top center;
}
.menuSlide .menuImg:hover {
    transform: scale(1.05);
}
.menuSlide .menuImg img {
  width: 100%;
  height: 100%;
}
.menuSlide .menuText {
    text-align: center;
}
.menuSlide .menuText .menuTitle {
    font-size: 16px;
    font-weight: 700;
    color: #382F2D;
    margin-bottom: 10px;
}
.menuSlide .menuText span {
    color: #746D6C;
    font-size: 14px;
}
.menuButton {
    display: flex;
    cursor: pointer;
}
.swiper-button-next,
.swiper-button-prev {
    width: 90px;
    height: 90px;
    border-radius: 100px;
    background: #AFACAB;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-button-next {
    position: absolute;
    top: 50%; left: 7%;
    transform: translateY(-50%);
}
.swiper-button-prev {
    position: absolute;
    top: 50%; right: 7%;
    transform: translateY(-50%);
}
.swiper-button-next img,
.swiper-button-prev img {
    width: 15px;
    height: 25px;
}
/* gongMenu */

#gongStore .storeInner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 50px;
    gap: 60px;
}
.leftBox {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
.leftBox .storeImg {
    margin-left: -60px;
    position: relative;
    top: 30px;
}
.leftBox .storeImg img {
    border-radius: 40px;
}
.leftBox .boxStore {
    background: #fff;
    padding: 40px;
    width: 37%;
    max-width: 340px;
    border-radius: 40px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease
}
.leftBox .boxStore:hover {
    transform: translateY(-6px);
}
.leftBox .boxStore .storeIcon img {
    border: 1px solid #ECD1A3;
    border-radius: 100px;
    margin-bottom: 10px;
}
.leftBox .boxStore .storeText {
    margin-bottom: 70px;
}
.leftBox .boxStore .storeText strong {
    display: block;
    font-size: 26px;
    font-weight: 600;
    color: #382F2D;
    margin-bottom: 10px;
}
.leftBox .boxStore .storeText span {
    font-size: 16px;
    font-weight: 300;
    color: #746D6C;
}
.leftBox .boxStore .plus {
    background: #BF0B34;
    width: 40px;
    height: 40px;
    border-radius: 100px;
}


.rightBox {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}
.rightBox .storeImg {
    margin-left: -60px;
    position: relative;
    top: 30px;
}
.rightBox .storeImg img {
    border-radius: 40px;
}
.rightBox .boxStore {
    background: #fff;
    padding: 40px;
    width: 37%;
    max-width: 340px;
    border-radius: 40px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease
}
.rightBox .boxStore:hover {
    transform: translateY(-6px);
}
.rightBox .boxStore .storeIcon img {
    border: 1px solid #ECD1A3;
    border-radius: 100px;
    margin-bottom: 10px;
}
.rightBox .boxStore .storeText {
    margin-bottom: 40px;
}
.rightBox .boxStore .storeText strong {
    display: block;
    font-size: 26px;
    font-weight: 600;
    color: #382F2D;
    margin-bottom: 10px;
}
.rightBox .boxStore .storeText span {
    font-size: 16px;
    font-weight: 300;
    color: #746D6C;
}
.rightBox .boxStore .plus {
    background: #BF0B34;
    width: 40px;
    height: 40px;
    border-radius: 100px;
}
/* gongStore */

#gongReci {
    position: relative;
    padding: 140px 30px;
    background: #fff;
    border-radius: 50px;
}
.gongReci-swiper {
    width: 100%;
    padding: 0;
}
.gongReci-swiper .swiper-slide {
    width: 100%;
}
.gongReci-swiper-wrapper {
    height: 100%;
}
.slide-content {
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
}
.reciText {
    max-width: 45%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.slide-toggles {
    position: absolute;
    bottom: 0;
    left: 8%;
}
.detail {
    position: absolute;
    bottom: 0;
    left: 35%;
}
.detail a {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    color: #BF0B34;
    text-decoration: none;
    overflow: hidden;
    border: 1px solid #BF0B34;
    border-radius: 100px;
}
.detail a::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background: #BF0B34; /* 채워질 색 */
    transform: scaleX(0);  /* 초기 상태: 안보임 */
    transform-origin: left; /* 왼쪽부터 채움 */
    transition: transform 0.35s ease;
    z-index: 0;
}
.detail a span {
    position: relative;
    z-index: 1;  /* 텍스트가 배경 위에 보이도록 */
    transition: color 0.35s;
}
.detail a:hover::before {
    transform: scaleX(1); /* 전체 배경 채움 */
}
.detail a:hover span {
    color: #fff; /* 글씨 색 변경 */
}
.reciText h5 {
    font-family: "KoPubBatang", "Noto Sans KR", "Malgun Gothic", sans-serif;
    font-size: 25px;
    color: #382F2D;
    font-weight: 300;
    margin-bottom: 25px;
}
.reciText h4 {
    font-family: "KoPubBatang", "Noto Sans KR", "Malgun Gothic", sans-serif;
    font-size: 50px;
    color: #BF0B34;
    font-weight: 700;
    margin-bottom: 5px;
}
.reciText strong {
    font-size: 30px;
    font-weight: 400;
    color: #382F2D;
    margin-bottom: 25px;
}
.reciText p {
    font-size: 20px;
    font-weight: 400;
    color: #746D6C;
}
.text_bot {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.reciImg {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ECD1A3;
  border-radius: 40px;
  padding: 30px 50px 50px;
}
.reciImg img {
  max-height: 400px;
  object-fit: cover;
}
.slide-toggles {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.toggle-btn {
  padding: 7px 7px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 100px;
}
.toggle-btn.active {
  background-color: #BF0B34;
  color: #fff;
}
/* gongReci */

#openStore {
    padding: 120px 0 180px;
}
.openTitle {
    text-align: center;
    margin-bottom: 50px;
}
.openTitle strong {
    display: block;
    font-size: 40px;
    font-weight: 700;
    color: #382F2D;
    margin-bottom: 10px;
}
.openTitle span {
    font-size: 20px;
    font-weight: 400;
    color: #746D6C;
}
.openSlide .openImg {
    width: 270px;
    height: 270px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.openSlide .openBox {background: #ddd;}
.openSlide .openImg img {
    width: 100%;
    height: 100%;
}
.openSlide .openBox img {
    width: 30%;
    height: 30%;
}
.openSlide .openText {
    padding: 5px 30px;
    border-radius: 10px;
    background: #F7EEDD;
}
.openSlide .openText span {
    font-size: 18px;
    color: #746D6C;
}
.openSlide {
    position: relative;
}
.openSlide .swiper-button-next,
.openSlide .swiper-button-prev {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background: #AFACAB;
    display: flex;
    justify-content: center;
    align-items: center;
}
.openSlide .swiper-button-next {
    position: absolute;
    top: 50%; left: 8%;
    transform: translateY(-50%);
}
.openSlide .swiper-button-prev {
    position: absolute;
    top: 50%; right: 8%;
    transform: translateY(-50%);
}
/* openStore */

#gongQna {
    padding: 0 50px 100px;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
.qnaInner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.qnaInner .qnaleft {
    border: 1px solid #ECD1A3;
    border-radius: 20px;
    padding: 40px;
    max-width: 470px;
    width: 100%;
    height: 343px;
}
.qnaCont figure {
    width: 125px;
    height: 125px;
    margin-bottom: 30px;
}
.qnaCont figure img {
    width: 100%;
    height: 100%;
}
.qnaInner .qnaleft .qnaText {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 50px;
}
.qnaText .text h4 {
    font-size: 35px;
    font-weight: 700;
    color: #382F2D;
    margin-bottom: 10px;
}
.qnaText .text p {
    font-size: 18px;
    color: #746D6C;
}
.qnaleft .qnaText .plus {
    background: #BF0B34;
    width: 40px;
    height: 40px;
    border-radius: 100px;
}
/* 오른쪽 이미지 컨테이너 크기 설정 */
.qnaright {
    /* 너비는 필요에 따라 조절하세요. */
    width: 60%; 
}
.qnaright .qnaImg {
    overflow: hidden;
    border-radius: 20px;
    /* 높이를 왼쪽 블록과 비슷하게 설정 */
    height: 343px;
}
.qnaright .qnaImg img {
    width: 100%;
    height: 100%;
    /* 이미지가 컨테이너에 꽉 차도록 설정 */
    object-fit: cover; 
}
/* gongqna */

#vid {
    background: #fff;
    border-radius: 40px 40px 0 0;
}
.wrap {
    padding: 120px 140px 240px;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
.wrap .vidWrap {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 30px;
}
.vidWrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.vidText {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
}
.vidText h4 {
    font-size: 54px;
    color: #BF0B34;
    font-family: "KoPubBatang", "Noto Sans KR", "Malgun Gothic", sans-serif;
    white-space: nowrap;
}
.vidText p {
    font-size: 20px;
    color: #382F2D;
    line-height: 1.7;
}
.vidText p span {
    color: #BF0B34;
    font-weight: 700;
}
/* vid */

footer {color: #fff;}
.footerWrap {
    max-width: 1920px;
    max-height: 850px;
    background: #C10230;
    border-radius: 50px 50px 0 0;
    overflow: hidden;
    padding: 80px 140px;
}
.footerCont .footerLogo {
    text-align: center;
    margin-bottom: 60px;
}
.footerCont .footerText {
    display: flex;
    justify-content: space-between;
}
.leftTxt .ser {
    font-size: 22px;
    font-weight: 600;
    color: #C10230;
    margin-bottom: 50px;
}
.leftTxt .ser span {
    background: #fff;
    border-radius: 100px;
    padding: 15px 20px;
    margin-right: 10px;
}
.leftTxt .per {
    font-size: 22px;
    margin-bottom: 40px;
}
.leftTxt .per span {
    display: block;
    margin-bottom: 15px;
}
.leftTxt .per span:nth-child(1) {
    font-weight: 700;
}
.leftTxt .add {margin-bottom: 150px;}
.leftTxt .add p {margin-bottom: 10px;}
.leftTxt .add p span {font-weight: 700;}
.rightTxt .cus span {
    font-size: 22px;
    margin-bottom: 10px;
    display: block;
}
.rightTxt .cus p {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.rightTxt .time {font-size: 14px;}
.rightTxt .time dl {
    display: flex;
    margin-bottom: 15px;
}
.rightTxt .time dl dd p {margin-bottom: 3px;}
.footerSns ul {
    display: flex;
    gap: 5px;
    margin-bottom: 40px;
}
.footerSns ul li a {
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerSns ul li img {
    width: 20px;
    height: 20px;
}
.footerSns span {font-size: 12px;}