@charset "utf-8";

* {
    box-sizing: border-box;
    word-break: keep-all;
}
body {background: #fff;}

#main figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#main figure img {
    width: 100%;
    height: 100%;
}
/* main */

.botWrap {
    position: relative;
    height: 100px;
    margin-bottom: 90px;
}
.botWrap a {
    width: 100px;
    height: 100px;
    background-color: #BF0B34;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -50%; left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}
.botWrap a img {
    width: 22px;
    height: 10px;
}
.botWrap::after {
    content: '';
    width: 270px;
    height: 85px;
    background: url(../img/smoothBg-wh.svg) no-repeat center/cover;
    position: absolute;
    left: 50%;
    bottom: calc(100% - 2px);
    transform: translateX(-50%);
    display: block;
}
/* botWrap */

#tabs h4 {
    font-size: 50px;
    font-weight: 700;
    color: #BF0B34;
    margin-bottom: 50px;
    text-align: center;
}
.tabMenu {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    gap: 30px;
    margin-bottom: 30px;
}
.tabMenu li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 60px;
  background: #F7EEDD;
  border-radius: 100px;
  font-size: 20px;
  transition: all 0.3s;
  cursor: pointer;
}
.tabMenu li:hover {
    background: #BF0B34;
    color: #fff;
    font-weight: 700;
}
.tabMenu li.active {
  background: #BF0B34;
  color: #fff;
  font-weight: 700;
}
.inner {
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 170px;
}
.inner .innerCont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0 50px;
}
.inner .innerCont .cont {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}
.title {
    font-size: 30px;
    font-weight: 700;
    color: #382F2D;
    margin-bottom: 10px;
}
.contTxt {
    margin-bottom: 50px;
}
.contTxt span {
    font-size: 24px;
    color: #746d6c;
}
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 15px;
}
.table .caution {color: #746d6c;}
.tableItem .tableTitle {
    border-bottom: 1px solid #000;
}
.tableItem table {
    min-width: 600px;
}
table thead tr th {
    text-align: center;
    color: #746d6c;
    background: #F7EEDD;
    padding: 6px 10px;
    font-size: 16px;
    font-weight: 500;
}
table thead tr th + th {
    border-left: 1px solid #d7d5d5;
}
table tbody {
    border-top: 1px solid #d7d5d5;
}
table tbody tr {
    border-bottom: 1px solid #d7d5d5;
}
table tbody tr td.row {color: #000;}
table tbody tr td {
    font-size: 18px;
    padding: 6px 10px;
    text-align: center;
    border-left: 1px solid #d7d5d5;
    color: #746d6c;
}
table tbody tr td:first-child {border: none;}